<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
<!--    <logger name="com.example.mysql_concurrency.mybatis" level="info" appender-ref="console" />-->
<!--    <logger name="jdbc.sql only" level="INFO" appender-ref="console-info log" />-->
<!--    <logger name="jdbc.result-settable" level="INFO" appender-ref="console-info log" />-->
    <logger level="info" name="jdbc.sqltiming" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="jdbc.resultsettable" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="jdbc.audit" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="jdbc.sqlonly" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="jdbc.resultset" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="jdbc.connection" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger level="info" name="com.example.mysql_concurrency.mybatis" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>